In [107]:
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from scipy.stats import linregress
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from xgboost import plot_importance
from matplotlib import pyplot
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import GridSearchCV
sns.set()

In [2]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [3]:
# Reading datasetss
df_stock_train = pd.read_csv("../data/DATA_STOCK_VARS_TRAIN_F.csv")
df_stock_test = pd.read_csv("../data/DATA_STOCK_VARS_TEST_F.csv")

In [8]:
df_stock_train_p = df_stock_train.copy()
df_stock_test_p = df_stock_test.copy()

In [5]:
df_stock_train_p.head(1).T

                                        0
ID                           201808_48117
MES_T0                             201808
ID_CLIENTE                          48117
FUGA_3M                                 0
FH_NACIMIENTO         2015-12-04 00:00:00
FH_ALTA               2017-09-04 00:00:00
RGO_RIEGO_BBVA                          1
RGO_RIESGO_SIST                         8
RGO_SDO_MEDIO_ACTIVO                    6
RGO_SDO_MEDIO_PASIVO                    9
RGO_MARGEN_OPER_MES                     1
RGO_MARGEN_OPER_ACUM                    1
RGO_FACTURA_ANUAL                       7
TO_EMPLEADOS                            2
CD_SBS_NORMAL                         100
CD_SBS_CPP                              0
CD_SBS_DDP                              0
TP_VIVI                             LEGAL
TP_PERSONA                              J
TIPO_NEGOCIO                         Pyme

# Base preprocessing

In [9]:
#Dropping non significant features
df_stock_train_p = df_stock_train_p.drop(['TP_VIVI','TIPO_NEGOCIO'], axis=1)
df_stock_test_p = df_stock_test_p.drop(['TP_VIVI','TIPO_NEGOCIO'], axis=1)

In [10]:
# Tipo persona one hot
df_stock_train_p = pd.concat([df_stock_train_p,pd.get_dummies(df_stock_train_p['TP_PERSONA'], prefix='TP_PERSONA',drop_first=True)],axis=1)
df_stock_test_p = pd.concat([df_stock_test_p,pd.get_dummies(df_stock_test_p['TP_PERSONA'], prefix='TP_PERSONA',drop_first=True)],axis=1)

In [79]:
#Dropping TPPERSONA
df_stock_train_p = df_stock_train_p.drop('TP_PERSONA', axis=1)
df_stock_test_p = df_stock_test_p.drop('TP_PERSONA', axis=1)

In [11]:
# Meses computados segun fecha de nacimiento y alta

# Computando nuevas columnas de meses hasta la fecha de nacimiento y alta.

#Numero de meses hasta la fecha de nacimiento desde año 0 mes 0.
df_stock_train_p['months_NACIMIENTO'] = df_stock_train_p['FH_NACIMIENTO'].apply(lambda x: int(str(x).split('-')[0])*12 + int(str(x).split('-')[1]) if isinstance(x, str) else x)
df_stock_test_p['months_NACIMIENTO'] = df_stock_test_p['FH_NACIMIENTO'].apply(lambda x: int(str(x).split('-')[0])*12 + int(str(x).split('-')[1]) if isinstance(x, str) else x)

#Numero de meses basta fecha de alta desde año 0 mes 0
df_stock_train_p['months_ALTA'] = df_stock_train_p['FH_ALTA'].apply(lambda x: int(str(x).split('-')[0])*12 + int(str(x).split('-')[1]) if isinstance(x, str) else x)
df_stock_test_p['months_ALTA'] = df_stock_test_p['FH_ALTA'].apply(lambda x: int(str(x).split('-')[0])*12 + int(str(x).split('-')[1]) if isinstance(x, str) else x)

#Computando los meses del T0 desde el año 0 mes 0
df_stock_train_p['months_T0'] = df_stock_train_p['MES_T0'].apply(lambda x: int(str(x)[:4])*12 + int(str(x)[4:6]))
df_stock_test_p['months_T0'] = df_stock_test_p['MES_T0'].apply(lambda x: int(str(x)[:4])*12 + int(str(x)[4:6]))

#Computando columnas finales
df_stock_train_p['diff_months_T0_NACIMIENTO'] = df_stock_train_p['months_T0'] - df_stock_train_p['months_NACIMIENTO']
df_stock_test_p['diff_months_T0_NACIMIENTO'] = df_stock_test_p['months_T0'] - df_stock_test_p['months_NACIMIENTO']

df_stock_train_p['diff_months_T0_ALTA'] = df_stock_train_p['months_T0'] - df_stock_train_p['months_ALTA']
df_stock_test_p['diff_months_T0_ALTA'] = df_stock_test_p['months_T0'] - df_stock_test_p['months_ALTA']

df_stock_train_p['diff_months_ALTA_NACIMIENTO'] = df_stock_train_p['months_ALTA'] - df_stock_train_p['months_NACIMIENTO']
df_stock_test_p['diff_months_ALTA_NACIMIENTO'] = df_stock_test_p['months_ALTA'] - df_stock_test_p['months_NACIMIENTO']

In [13]:
df_stock_train_p.head(1).T

                                               0
ID                                  201808_48117
MES_T0                                    201808
ID_CLIENTE                                 48117
FUGA_3M                                        0
FH_NACIMIENTO                2015-12-04 00:00:00
FH_ALTA                      2017-09-04 00:00:00
RGO_RIEGO_BBVA                                 1
RGO_RIESGO_SIST                                8
RGO_SDO_MEDIO_ACTIVO                           6
RGO_SDO_MEDIO_PASIVO                           9
RGO_MARGEN_OPER_MES                            1
RGO_MARGEN_OPER_ACUM                           1
RGO_FACTURA_ANUAL                              7
TO_EMPLEADOS                                   2
CD_SBS_NORMAL                                100
CD_SBS_CPP                                     0
CD_SBS_DDP                                     0
TP_PERSONA                                     J
TP_PERSONA_F                                   0
TP_PERSONA_J                                   1
months_NACIMIENTO                          24192
months_ALTA                                24213
months_T0                                  24224
diff_months_T0_NACIMIENTO                     32
diff_months_T0_ALTA                           11
diff_months_ALTA_NACIMIENTO                   21

# Juntando data con la data computada previamente

In [14]:
#TRANSACCIONES
df_stk_trans_train_wd_agg = pd.read_csv('../data/PROCESS_stk_trans_train_wd_agg.csv')
df_stk_trans_test_wd_agg = pd.read_csv('../data/PROCESS_stk_trans_test_wd_agg.csv')

In [15]:
df_stk_trans_train_wd_agg.head(1).T

                                         0
ID                             201803_1009
RGO_MTO_RECAUDO_sum                     78
RGO_MTO_RECAUDO_min                      4
RGO_MTO_RECAUDO_max                     16
RGO_MTO_RECAUDO_mean                  9.75
RGO_MTO_RECAUDO_count                    8
RGO_MTO_RECAUDO_std                4.39968
RGO_MTO_TRANSF_INTE_sum                155
RGO_MTO_TRANSF_INTE_min                 18
RGO_MTO_TRANSF_INTE_max                 20
RGO_MTO_TRANSF_INTE_mean            19.375
RGO_MTO_TRANSF_INTE_count                8
RGO_MTO_TRANSF_INTE_std           0.744024
RGO_MTO_CHEQUE_REC_sum                  62
RGO_MTO_CHEQUE_REC_min                   3
RGO_MTO_CHEQUE_REC_max                  11
RGO_MTO_CHEQUE_REC_mean               7.75
RGO_MTO_CHEQUE_REC_count                 8
RGO_MTO_CHEQUE_REC_std             2.71241
RGO_MTO_TRANSFE_LOCALES_sum             34
RGO_MTO_TRANSFE_LOCALES_min              1
RGO_MTO_TRANSFE_LOCALES_max              7
RGO_MTO_TRANSFE_LOCALES_mean          4.25
RGO_MTO_TRANSFE_LOCALES_count            8
RGO_MTO_TRANSFE_LOCALES_std        2.54951
RGO_MTO_PAGO_PROVEE_sum                 77
RGO_MTO_PAGO_PROVEE_min                  2
RGO_MTO_PAGO_PROVEE_max                 15
RGO_MTO_PAGO_PROVEE_mean             9.625
RGO_MTO_PAGO_PROVEE_count                8
RGO_MTO_PAGO_PROVEE_std            4.50198
RGO_MTO_SUNAT_PYME_sum                  50
RGO_MTO_SUNAT_PYME_min                   3
RGO_MTO_SUNAT_PYME_max                  12
RGO_MTO_SUNAT_PYME_mean               6.25
RGO_MTO_SUNAT_PYME_count                 8
RGO_MTO_SUNAT_PYME_std             2.86606

In [18]:
# Me equivoque xd se deben borrar las columnas de conteo ya que tienen corr 1 (misma info)
count_drop_cols = [count_col for count_col in df_stk_trans_train_wd_agg if '_count' in count_col]
count_drop_cols

['RGO_MTO_RECAUDO_count',
 'RGO_MTO_TRANSF_INTE_count',
 'RGO_MTO_CHEQUE_REC_count',
 'RGO_MTO_TRANSFE_LOCALES_count',
 'RGO_MTO_PAGO_PROVEE_count',
 'RGO_MTO_SUNAT_PYME_count']

In [19]:
count_drop_cols[1:]

['RGO_MTO_TRANSF_INTE_count',
 'RGO_MTO_CHEQUE_REC_count',
 'RGO_MTO_TRANSFE_LOCALES_count',
 'RGO_MTO_PAGO_PROVEE_count',
 'RGO_MTO_SUNAT_PYME_count']

In [20]:
#Droppin and renaming
df_stk_trans_train_wd_agg = df_stk_trans_train_wd_agg.drop(count_drop_cols[1:], axis=1)
df_stk_trans_test_wd_agg = df_stk_trans_test_wd_agg.drop(count_drop_cols[1:], axis=1)

df_stk_trans_train_wd_agg = df_stk_trans_train_wd_agg.rename(columns={'RGO_MTO_RECAUDO_count':'TransCount'})
df_stk_trans_test_wd_agg = df_stk_trans_test_wd_agg.rename(columns={'RGO_MTO_RECAUDO_count':'TransCount'})

In [21]:
df_stk_trans_train_wd_agg.head(1).T

                                        0
ID                            201803_1009
RGO_MTO_RECAUDO_sum                    78
RGO_MTO_RECAUDO_min                     4
RGO_MTO_RECAUDO_max                    16
RGO_MTO_RECAUDO_mean                 9.75
TransCount                              8
RGO_MTO_RECAUDO_std               4.39968
RGO_MTO_TRANSF_INTE_sum               155
RGO_MTO_TRANSF_INTE_min                18
RGO_MTO_TRANSF_INTE_max                20
RGO_MTO_TRANSF_INTE_mean           19.375
RGO_MTO_TRANSF_INTE_std          0.744024
RGO_MTO_CHEQUE_REC_sum                 62
RGO_MTO_CHEQUE_REC_min                  3
RGO_MTO_CHEQUE_REC_max                 11
RGO_MTO_CHEQUE_REC_mean              7.75
RGO_MTO_CHEQUE_REC_std            2.71241
RGO_MTO_TRANSFE_LOCALES_sum            34
RGO_MTO_TRANSFE_LOCALES_min             1
RGO_MTO_TRANSFE_LOCALES_max             7
RGO_MTO_TRANSFE_LOCALES_mean         4.25
RGO_MTO_TRANSFE_LOCALES_std       2.54951
RGO_MTO_PAGO_PROVEE_sum                77
RGO_MTO_PAGO_PROVEE_min                 2
RGO_MTO_PAGO_PROVEE_max                15
RGO_MTO_PAGO_PROVEE_mean            9.625
RGO_MTO_PAGO_PROVEE_std           4.50198
RGO_MTO_SUNAT_PYME_sum                 50
RGO_MTO_SUNAT_PYME_min                  3
RGO_MTO_SUNAT_PYME_max                 12
RGO_MTO_SUNAT_PYME_mean              6.25
RGO_MTO_SUNAT_PYME_std            2.86606

In [22]:
#ENDEUDAMIENTO
df_stk_endeu_train_wd_agg = pd.read_csv('../data/PROCESS_stk_endeu_train_wd_agg.csv')
df_stk_endeu_test_wd_agg = pd.read_csv('../data/PROCESS_stk_endeu_test_wd_agg.csv')

In [23]:
df_stk_endeu_train_wd_agg.head(1).T

                                     0
ID                         201803_1003
CD_BANCO_nunique                     2
ST_CREDITO_nunique                   1
RGO_SDGRANDES_EMP_sum               85
RGO_SDGRANDES_EMP_min                3
RGO_SDGRANDES_EMP_max               13
RGO_SDGRANDES_EMP_mean         7.08333
RGO_SDGRANDES_EMP_count             12
RGO_SDGRANDES_EMP_std          4.42017
RGO_SDMEDIANAS_EMP_sum              98
RGO_SDMEDIANAS_EMP_min               3
RGO_SDMEDIANAS_EMP_max              19
RGO_SDMEDIANAS_EMP_mean        8.16667
RGO_SDMEDIANAS_EMP_count            12
RGO_SDMEDIANAS_EMP_std          5.1316
RGO_SDPEQUENIAS_EMP_sum            110
RGO_SDPEQUENIAS_EMP_min              2
RGO_SDPEQUENIAS_EMP_max             17
RGO_SDPEQUENIAS_EMP_mean       9.16667
RGO_SDPEQUENIAS_EMP_count           12
RGO_SDPEQUENIAS_EMP_std        4.30292
RGO_SDMICROEMPRESA_sum             190
RGO_SDMICROEMPRESA_min               4
RGO_SDMICROEMPRESA_max              20
RGO_SDMICROEMPRESA_mean        15.8333
RGO_SDMICROEMPRESA_count            12
RGO_SDMICROEMPRESA_std         7.15838
RGO_SDINDIRECTO_sum                152
RGO_SDINDIRECTO_min                  8
RGO_SDINDIRECTO_max                 17
...                                ...
RGO_SDCREDITO_sum                  123
RGO_SDCREDITO_min                    1
RGO_SDCREDITO_max                   17
RGO_SDCREDITO_mean               10.25
RGO_SDCREDITO_count                 12
RGO_SDCREDITO_std              6.25409
RGO_SDACEPBANCA_sum                162
RGO_SDACEPBANCA_min                  1
RGO_SDACEPBANCA_max                 19
RGO_SDACEPBANCA_mean              13.5
RGO_SDACEPBANCA_count               12
RGO_SDACEPBANCA_std            5.82315
RGO_SDGTIA_HIPOTEC_sum             119
RGO_SDGTIA_HIPOTEC_min               2
RGO_SDGTIA_HIPOTEC_max              19
RGO_SDGTIA_HIPOTEC_mean        9.91667
RGO_SDGTIA_HIPOTEC_count            12
RGO_SDGTIA_HIPOTEC_std         8.30617
RGO_SDGTIA_PREFE_sum               129
RGO_SDGTIA_PREFE_min                 5
RGO_SDGTIA_PREFE_max                19
RGO_SDGTIA_PREFE_mean            10.75
RGO_SDGTIA_PREFE_count              12
RGO_SDGTIA_PREFE_std           4.84534
RGO_SD_NOPREFE_sum                 151
RGO_SD_NOPREFE_min                   6
RGO_SD_NOPREFE_max                  18
RGO_SD_NOPREFE_mean            12.5833
RGO_SD_NOPREFE_count                12
RGO_SD_NOPREFE_std             4.48144

[117 rows x 1 columns]

In [24]:
count_drop_cols = [count_col for count_col in df_stk_endeu_train_wd_agg if '_count' in count_col]
count_drop_cols

['RGO_SDGRANDES_EMP_count',
 'RGO_SDMEDIANAS_EMP_count',
 'RGO_SDPEQUENIAS_EMP_count',
 'RGO_SDMICROEMPRESA_count',
 'RGO_SDINDIRECTO_count',
 'RGO_SDTOTAL_count',
 'RGO_SDDESCLETRAS_count',
 'RGO_SDTARJETA_EMP_count',
 'RGO_SDLEASING_count',
 'RGO_SDCOMEX_count',
 'RGO_SDPREST_EMP_count',
 'RGO_SDFACTORING_count',
 'RGO_SDAVALES_count',
 'RGO_SDCARTFIANZA_count',
 'RGO_SDCREDITO_count',
 'RGO_SDACEPBANCA_count',
 'RGO_SDGTIA_HIPOTEC_count',
 'RGO_SDGTIA_PREFE_count',
 'RGO_SD_NOPREFE_count']

In [25]:
count_drop_cols[1:]

['RGO_SDMEDIANAS_EMP_count',
 'RGO_SDPEQUENIAS_EMP_count',
 'RGO_SDMICROEMPRESA_count',
 'RGO_SDINDIRECTO_count',
 'RGO_SDTOTAL_count',
 'RGO_SDDESCLETRAS_count',
 'RGO_SDTARJETA_EMP_count',
 'RGO_SDLEASING_count',
 'RGO_SDCOMEX_count',
 'RGO_SDPREST_EMP_count',
 'RGO_SDFACTORING_count',
 'RGO_SDAVALES_count',
 'RGO_SDCARTFIANZA_count',
 'RGO_SDCREDITO_count',
 'RGO_SDACEPBANCA_count',
 'RGO_SDGTIA_HIPOTEC_count',
 'RGO_SDGTIA_PREFE_count',
 'RGO_SD_NOPREFE_count']

In [26]:
#Droppin and renaming
df_stk_endeu_train_wd_agg = df_stk_endeu_train_wd_agg.drop(count_drop_cols[1:], axis=1)
df_stk_endeu_test_wd_agg = df_stk_endeu_test_wd_agg.drop(count_drop_cols[1:], axis=1)

df_stk_endeu_train_wd_agg = df_stk_endeu_train_wd_agg.rename(columns={'RGO_SDGRANDES_EMP_count':'DeudasCount'})
df_stk_endeu_test_wd_agg = df_stk_endeu_test_wd_agg.rename(columns={'RGO_SDGRANDES_EMP_count':'DeudasCount'})

In [29]:
# PRODUCTOS
df_stk_prod_train_wd_agg = pd.read_csv('../data/PROCESS_stk_prod_train_wd_agg.csv', skiprows = 1)
df_stk_prod_test_wd_agg = pd.read_csv('../data/PROCESS_stk_prod_test_wd_agg.csv', skiprows = 1)

In [31]:
df_stk_prod_train_wd_agg = df_stk_prod_train_wd_agg.rename(columns={'Unnamed: 0':'ID'})
df_stk_prod_test_wd_agg = df_stk_prod_test_wd_agg.rename(columns={'Unnamed: 0':'ID'})

In [34]:
df_stk_prod_train_wd_agg.head(1).T

                                      0
ID                           201803_100
NU_CTA_AHORRO_min                     0
NU_CTA_AHORRO_max                     0
RGO_MARGEN_AHORRO_min                 2
RGO_MARGEN_AHORRO_max                 9
RGO_MARGEN_AHORRO_sum                32
RGO_MARGEN_AHORRO_mean                4
RGO_MARGEN_AHORRO_count               8
RGO_MARGEN_AHORRO_std           2.44949
NU_CTA_CTE_min                        1
NU_CTA_CTE_max                        1
RGO_SDO_CTE_min                       4
RGO_SDO_CTE_max                      18
RGO_SDO_CTE_sum                      98
RGO_SDO_CTE_mean                  12.25
RGO_SDO_CTE_count                     8
RGO_SDO_CTE_std                 5.77556
RGO_MARGEN_CTE_min                    1
RGO_MARGEN_CTE_max                   20
RGO_MARGEN_CTE_sum                  108
RGO_MARGEN_CTE_mean                13.5
RGO_MARGEN_CTE_count                  8
RGO_MARGEN_CTE_std              6.18755
NU_CTA_FMUTUO_min                     0
NU_CTA_FMUTUO_max                     0
RGO_SDO_FMUTUO_min                    3
RGO_SDO_FMUTUO_max                   19
RGO_SDO_FMUTUO_sum                   90
RGO_SDO_FMUTUO_mean               11.25
RGO_SDO_FMUTUO_count                  8
...                                 ...
RGO_MARGEN_CONFIRMING_min             2
RGO_MARGEN_CONFIRMING_max            17
RGO_MARGEN_CONFIRMING_sum            89
RGO_MARGEN_CONFIRMING_mean       11.125
RGO_MARGEN_CONFIRMING_count           8
RGO_MARGEN_CONFIRMING_std       5.86606
RGO_MARGEN_CMPL_min                   1
RGO_MARGEN_CMPL_max                   8
RGO_MARGEN_CMPL_sum                  41
RGO_MARGEN_CMPL_mean              5.125
RGO_MARGEN_CMPL_count                 8
RGO_MARGEN_CMPL_std             3.04432
RGO_MARGEN_CARTERA_min                2
RGO_MARGEN_CARTERA_max               18
RGO_MARGEN_CARTERA_sum               78
RGO_MARGEN_CARTERA_mean            9.75
RGO_MARGEN_CARTERA_count              8
RGO_MARGEN_CARTERA_std          6.54108
RGO_PASIVO_min                        1
RGO_PASIVO_max                       14
RGO_PASIVO_sum                       34
RGO_PASIVO_mean                    4.25
RGO_PASIVO_count                      8
RGO_PASIVO_std                  4.13176
RGO_ACTIVO_min                        1
RGO_ACTIVO_max                       17
RGO_ACTIVO_sum                       85
RGO_ACTIVO_mean                  10.625
RGO_ACTIVO_count                      8
RGO_ACTIVO_std                  5.87823

[273 rows x 1 columns]

In [35]:
count_drop_cols = [count_col for count_col in df_stk_prod_train_wd_agg if '_count' in count_col]
count_drop_cols

['RGO_MARGEN_AHORRO_count',
 'RGO_SDO_CTE_count',
 'RGO_MARGEN_CTE_count',
 'RGO_SDO_FMUTUO_count',
 'RGO_SDO_PZO_count',
 'RGO_MARGEN_PZO_count',
 'RGO_SDO_CTS_count',
 'RGO_MARGEN_CTS_count',
 'RGO_SDO_PREST_COM_count',
 'RGO_MARGEN_PREST_COM_count',
 'RGO_SDO_PREST_CONS_count',
 'RGO_MARGEN_PREST_CONS_count',
 'RGO_SDO_PREST_VEHIC_count',
 'RGO_MARGEN_PREST_VEHIC_count',
 'RGO_SDO_PREST_HIP_count',
 'RGO_MARGEN_PREST_HIP_count',
 'RGO_SDO_PAGARE_DESC_count',
 'RGO_MARGEN_PAGARE_DESC_count',
 'RGO_MARGEN_AVAL_count',
 'RGO_SDO_COMEX_count',
 'RGO_SDO_DESC_LETRA_count',
 'RGO_MARGEN_DESC_LETRA_count',
 'RGO_MARGEN_FACTORING_count',
 'RGO_SDO_LSNG_count',
 'RGO_MARGEN_LSNG_count',
 'RGO_SDO_TDC_PNATURAL_count',
 'RGO_SDO_TDC_PJURIDICA_count',
 'RGO_MARGEN_TDC_PJURIDICA_count',
 'RGO_SEGU_VINC_count',
 'RGO_SEGU_NO_VINC_count',
 'RGO_SDO_VALORES_count',
 'RGO_MARGEN_VALORES_count',
 'RGO_MARGEN_COBRANZA_LIB_count',
 'RGO_MARGEN_CONFIRMING_count',
 'RGO_MARGEN_CMPL_count',
 'RGO_MARGEN_CARTERA_count',
 'RGO_PASIVO_count',
 'RGO_ACTIVO_count']

In [36]:
count_drop_cols[1:]

['RGO_SDO_CTE_count',
 'RGO_MARGEN_CTE_count',
 'RGO_SDO_FMUTUO_count',
 'RGO_SDO_PZO_count',
 'RGO_MARGEN_PZO_count',
 'RGO_SDO_CTS_count',
 'RGO_MARGEN_CTS_count',
 'RGO_SDO_PREST_COM_count',
 'RGO_MARGEN_PREST_COM_count',
 'RGO_SDO_PREST_CONS_count',
 'RGO_MARGEN_PREST_CONS_count',
 'RGO_SDO_PREST_VEHIC_count',
 'RGO_MARGEN_PREST_VEHIC_count',
 'RGO_SDO_PREST_HIP_count',
 'RGO_MARGEN_PREST_HIP_count',
 'RGO_SDO_PAGARE_DESC_count',
 'RGO_MARGEN_PAGARE_DESC_count',
 'RGO_MARGEN_AVAL_count',
 'RGO_SDO_COMEX_count',
 'RGO_SDO_DESC_LETRA_count',
 'RGO_MARGEN_DESC_LETRA_count',
 'RGO_MARGEN_FACTORING_count',
 'RGO_SDO_LSNG_count',
 'RGO_MARGEN_LSNG_count',
 'RGO_SDO_TDC_PNATURAL_count',
 'RGO_SDO_TDC_PJURIDICA_count',
 'RGO_MARGEN_TDC_PJURIDICA_count',
 'RGO_SEGU_VINC_count',
 'RGO_SEGU_NO_VINC_count',
 'RGO_SDO_VALORES_count',
 'RGO_MARGEN_VALORES_count',
 'RGO_MARGEN_COBRANZA_LIB_count',
 'RGO_MARGEN_CONFIRMING_count',
 'RGO_MARGEN_CMPL_count',
 'RGO_MARGEN_CARTERA_count',
 'RGO_PASIVO_count',
 'RGO_ACTIVO_count']

In [37]:
#Droppin and renaming
df_stk_prod_train_wd_agg = df_stk_prod_train_wd_agg.drop(count_drop_cols[1:], axis=1)
df_stk_prod_test_wd_agg = df_stk_prod_test_wd_agg.drop(count_drop_cols[1:], axis=1)

df_stk_prod_train_wd_agg = df_stk_prod_train_wd_agg.rename(columns={'RGO_MARGEN_AHORRO_count':'ProductCount'})
df_stk_prod_test_wd_agg = df_stk_prod_test_wd_agg.rename(columns={'RGO_MARGEN_AHORRO_count':'ProductCount'})

In [38]:
df_stk_prod_train_wd_agg.head(1).T

                                      0
ID                           201803_100
NU_CTA_AHORRO_min                     0
NU_CTA_AHORRO_max                     0
RGO_MARGEN_AHORRO_min                 2
RGO_MARGEN_AHORRO_max                 9
RGO_MARGEN_AHORRO_sum                32
RGO_MARGEN_AHORRO_mean                4
ProductCount                          8
RGO_MARGEN_AHORRO_std           2.44949
NU_CTA_CTE_min                        1
NU_CTA_CTE_max                        1
RGO_SDO_CTE_min                       4
RGO_SDO_CTE_max                      18
RGO_SDO_CTE_sum                      98
RGO_SDO_CTE_mean                  12.25
RGO_SDO_CTE_std                 5.77556
RGO_MARGEN_CTE_min                    1
RGO_MARGEN_CTE_max                   20
RGO_MARGEN_CTE_sum                  108
RGO_MARGEN_CTE_mean                13.5
RGO_MARGEN_CTE_std              6.18755
NU_CTA_FMUTUO_min                     0
NU_CTA_FMUTUO_max                     0
RGO_SDO_FMUTUO_min                    3
RGO_SDO_FMUTUO_max                   19
RGO_SDO_FMUTUO_sum                   90
RGO_SDO_FMUTUO_mean               11.25
RGO_SDO_FMUTUO_std              5.77556
NU_CTA_PZO_min                        0
NU_CTA_PZO_max                        0
...                                 ...
RGO_MARGEN_COBRANZA_LIB_std     5.37188
NU_CTA_COBRANZA_GAR_min               0
NU_CTA_COBRANZA_GAR_max               0
NU_CTA_CONFIRMING_min                 0
NU_CTA_CONFIRMING_max                 0
RGO_MARGEN_CONFIRMING_min             2
RGO_MARGEN_CONFIRMING_max            17
RGO_MARGEN_CONFIRMING_sum            89
RGO_MARGEN_CONFIRMING_mean       11.125
RGO_MARGEN_CONFIRMING_std       5.86606
RGO_MARGEN_CMPL_min                   1
RGO_MARGEN_CMPL_max                   8
RGO_MARGEN_CMPL_sum                  41
RGO_MARGEN_CMPL_mean              5.125
RGO_MARGEN_CMPL_std             3.04432
RGO_MARGEN_CARTERA_min                2
RGO_MARGEN_CARTERA_max               18
RGO_MARGEN_CARTERA_sum               78
RGO_MARGEN_CARTERA_mean            9.75
RGO_MARGEN_CARTERA_std          6.54108
RGO_PASIVO_min                        1
RGO_PASIVO_max                       14
RGO_PASIVO_sum                       34
RGO_PASIVO_mean                    4.25
RGO_PASIVO_std                  4.13176
RGO_ACTIVO_min                        1
RGO_ACTIVO_max                       17
RGO_ACTIVO_sum                       85
RGO_ACTIVO_mean                  10.625
RGO_ACTIVO_std                  5.87823

[236 rows x 1 columns]

In [46]:
#Cotizaciones
df_stk_coti_train_wd_agg= pd.read_csv('../data/PROCESS_stk_coti_train_wd_agg.csv')# , skiprows = 1)
df_stk_coti_test_wd_agg = pd.read_csv('../data/PROCESS_stk_coti_test_wd_agg.csv' , skiprows = 1)

In [48]:
df_stk_coti_train_wd_agg.head()

,ID,ESTADO_unique,ESTADO_count,ESTADO_DESEMBOLSO_COTIZA_count,ESTADO_DESEMBOLSO_COTIZA_unique,DIVISA_unique,DIVISA_count,RGO_IMPORTE_min,RGO_IMPORTE_max,RGO_IMPORTE_sum,...,RGO_IMPORTE_DESEMBOLSADO_MN_min,RGO_IMPORTE_DESEMBOLSADO_MN_max,RGO_IMPORTE_DESEMBOLSADO_MN_sum,RGO_IMPORTE_DESEMBOLSADO_MN_mean,RGO_IMPORTE_DESEMBOLSADO_MN_std,RGO_TASA_DESEMBOLSO_min,RGO_TASA_DESEMBOLSO_max,RGO_TASA_DESEMBOLSO_sum,RGO_TASA_DESEMBOLSO_mean,RGO_TASA_DESEMBOLSO_std
0,201803_11238,['TARIFARIO'],2,2,['DESEMBOLSADA'],['PEN'],2,16,16,32,...,17,17,34,17.0,0.000000,20,20,40,20.0,0.000000
1,201803_11239,['APROBADA'],1,1,['PENDIENTE'],['PEN'],1,10,10,10,...,2,2,2,2.0,NaN,8,8,8,8.0,NaN
2,201803_11275,['RECUPERADA'],1,1,['nan'],['PEN'],1,2,2,2,...,11,11,11,11.0,NaN,4,4,4,4.0,NaN
3,201803_11303,['APROBADA'],2,2,['PENDIENTE'],['USD'],2,19,19,38,...,7,8,15,7.5,0.707107,8,9,17,8.5,0.707107
4,201803_11813,['APROBADA'],1,1,['PENDIENTE'],['USD'],1,1,1,1,...,9,9,9,9.0,NaN,10,10,10,10.0,NaN

In [49]:
#No estoy seguro d que paso con el train xd
df_stk_coti_test_wd_agg = df_stk_coti_test_wd_agg.rename(columns={'Unnamed: 0':'ID'})

In [50]:
df_stk_coti_test_wd_agg.head()

,ID,ESTADO_unique,ESTADO_count,ESTADO_DESEMBOLSO_COTIZA_count,ESTADO_DESEMBOLSO_COTIZA_unique,DIVISA_unique,DIVISA_count,RGO_IMPORTE_min,RGO_IMPORTE_max,RGO_IMPORTE_sum,...,RGO_IMPORTE_DESEMBOLSADO_MN_min,RGO_IMPORTE_DESEMBOLSADO_MN_max,RGO_IMPORTE_DESEMBOLSADO_MN_sum,RGO_IMPORTE_DESEMBOLSADO_MN_mean,RGO_IMPORTE_DESEMBOLSADO_MN_std,RGO_TASA_DESEMBOLSO_min,RGO_TASA_DESEMBOLSO_max,RGO_TASA_DESEMBOLSO_sum,RGO_TASA_DESEMBOLSO_mean,RGO_TASA_DESEMBOLSO_std
0,201812_18473,['APROBADA'],2,2,['PENDIENTE'],['PEN'],2,8.0,11.0,19.0,...,3.0,14.0,17.0,8.500000,7.778175,2.0,15.0,17.0,8.500000,9.192388
1,201812_19207,['APROBADA' 'MODIFICADA'],3,3,['DESEMBOLSADA' 'nan' 'PENDIENTE'],['PEN'],3,1.0,6.0,8.0,...,3.0,14.0,25.0,8.333333,5.507571,6.0,16.0,28.0,9.333333,5.773503
2,201812_19357,['TARIFARIO'],1,1,['PENDIENTE'],['USD'],1,1.0,1.0,1.0,...,16.0,16.0,16.0,16.000000,NaN,14.0,14.0,14.0,14.000000,NaN
3,201812_19588,['APROBADA'],1,1,['PENDIENTE'],['PEN'],1,20.0,20.0,20.0,...,20.0,20.0,20.0,20.000000,NaN,18.0,18.0,18.0,18.000000,NaN
4,201812_19851,['TARIFARIO'],1,1,['DESEMBOLSADA'],['USD'],1,20.0,20.0,20.0,...,4.0,4.0,4.0,4.000000,NaN,2.0,2.0,2.0,2.000000,NaN

In [52]:
#Dropearemos unique columns solo por falta de tiempo de momento.
unique_drop_cols = [unique_col for unique_col in df_stk_coti_train_wd_agg if '_unique' in unique_col]
unique_drop_cols

['ESTADO_unique',
 'ESTADO_DESEMBOLSO_COTIZA_unique',
 'DIVISA_unique',
 'UNIDAD_PLAZO_unique',
 'GARANTIA_unique']

In [53]:
# Count
count_drop_cols = [count_col for count_col in df_stk_coti_train_wd_agg if '_count' in count_col]
count_drop_cols

['ESTADO_count',
 'ESTADO_DESEMBOLSO_COTIZA_count',
 'DIVISA_count',
 'RGO_IMPORTE_count',
 'UNIDAD_PLAZO_count',
 'GARANTIA_count']

In [54]:
df_stk_coti_train_wd_agg = df_stk_coti_train_wd_agg.drop(unique_drop_cols, axis=1)
df_stk_coti_test_wd_agg = df_stk_coti_test_wd_agg.drop(unique_drop_cols, axis=1)

df_stk_coti_train_wd_agg = df_stk_coti_train_wd_agg.drop(count_drop_cols[1:], axis=1)
df_stk_coti_test_wd_agg = df_stk_coti_test_wd_agg.drop(count_drop_cols[1:], axis=1)

df_stk_coti_train_wd_agg = df_stk_coti_train_wd_agg.rename(columns={'ESTADO_count':'CotiCount'})
df_stk_coti_test_wd_agg = df_stk_coti_test_wd_agg.rename(columns={'ESTADO_count':'CotiCount'})

In [58]:
#SOLICITUDES
df_stk_soli_train_wd_agg = pd.read_csv('../data/PROCESS_stk_soli_train_wd_agg.csv', skiprows = 1)
df_stk_soli_test_wd_agg = pd.read_csv('../data/PROCESS_stk_soli_test_wd_agg.csv', skiprows = 1)

In [59]:
df_stk_soli_test_wd_agg.head()

,Unnamed: 0,Moneda_unique,Moneda_count,RGO_ImporteS_min,RGO_ImporteS_max,RGO_ImporteS_sum,RGO_ImporteS_mean,RGO_IMPORTE_std,Producto_Solicitado_nunique
0,201812_18473,['SOLES'],1,9,9,9,9.0,NaN,1
1,201812_19207,['SOLES'],1,2,2,2,2.0,NaN,1
2,201812_19760,['DÓLARES'],1,1,1,1,1.0,NaN,1
3,201812_19851,['DÓLARES'],2,13,15,28,14.0,1.414214,2
4,201812_19892,['SOLES'],1,16,16,16,16.0,NaN,1

In [60]:
df_stk_soli_train_wd_agg = df_stk_soli_train_wd_agg.rename(columns={'Unnamed: 0':'ID'})
df_stk_soli_test_wd_agg = df_stk_soli_test_wd_agg.rename(columns={'Unnamed: 0':'ID'})

In [61]:
#u know
df_stk_soli_train_wd_agg = df_stk_soli_train_wd_agg.drop('Moneda_unique', axis=1)
df_stk_soli_test_wd_agg = df_stk_soli_test_wd_agg.drop('Moneda_unique', axis=1)

df_stk_soli_train_wd_agg = df_stk_soli_train_wd_agg.rename(columns={'Moneda_count':'SoliCount'})
df_stk_soli_test_wd_agg = df_stk_soli_test_wd_agg.rename(columns={'Moneda_count':'SoliCount'})

# El mega merge y ajustes finales

In [80]:
#Merging train
df_stock_train_f = df_stock_train_p.merge(df_stk_trans_train_wd_agg,on=['ID'], how = 'left')
df_stock_train_f = df_stock_train_f.merge(df_stk_endeu_train_wd_agg,on=['ID'], how = 'left')
df_stock_train_f = df_stock_train_f.merge(df_stk_prod_train_wd_agg,on=['ID'], how = 'left')
df_stock_train_f = df_stock_train_f.merge(df_stk_coti_train_wd_agg,on=['ID'], how = 'left')
df_stock_train_f = df_stock_train_f.merge(df_stk_soli_train_wd_agg,on=['ID'], how = 'left')


#Merging test
df_stock_test_f = df_stock_test_p.merge(df_stk_trans_test_wd_agg,on=['ID'], how = 'left')
df_stock_test_f = df_stock_test_f.merge(df_stk_endeu_test_wd_agg,on=['ID'], how = 'left')
df_stock_test_f = df_stock_test_f.merge(df_stk_prod_test_wd_agg,on=['ID'], how = 'left')
df_stock_test_f = df_stock_test_f.merge(df_stk_coti_test_wd_agg,on=['ID'], how = 'left')
df_stock_test_f = df_stock_test_f.merge(df_stk_soli_test_wd_agg,on=['ID'], how = 'left')

In [81]:
cols_to_drop_original_ds = ['MES_T0','ID_CLIENTE','FH_NACIMIENTO','FH_ALTA','months_NACIMIENTO',
                            'months_ALTA','months_T0']

In [82]:
df_stock_train_f = df_stock_train_f.drop(cols_to_drop_original_ds, axis=1)
df_stock_test_f = df_stock_test_f.drop(cols_to_drop_original_ds, axis=1)

In [83]:
df_stock_train_f.shape

(73661, 414)

In [84]:
df_stock_test_f.shape

(26338, 414)

# Model i guess xd

In [85]:
final_cols = list(set(df_stock_train_f.columns)-set(['ID','FUGA_3M']))

In [86]:
X = df_stock_train_f[final_cols]
y = df_stock_train_f['FUGA_3M']

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, stratify = y)

In [88]:
y_train.value_counts(normalize = True)

0    0.866277
1    0.133723
Name: FUGA_3M, dtype: float64

In [89]:
y_test.value_counts(normalize = True)

0    0.866287
1    0.133713
Name: FUGA_3M, dtype: float64

In [98]:
#idk
xgb = XGBClassifier(learning_rate =0.05,
                 n_estimators=600,
                 max_depth=5,
                 min_child_weight=1,
                 gamma=0,
                 subsample=0.8,
                 colsample_bytree=0.8,
                 objective= 'binary:logistic',
                 nthread=4,
                 scale_pos_weight=1,
                 seed=42)

In [99]:
xgb.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.8, gamma=0,
       learning_rate=0.05, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=600, n_jobs=1,
       nthread=4, objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=42, silent=None,
       subsample=0.8, verbosity=1)

In [101]:
#Getting results
y_pred = xgb.predict_proba(X_test)

In [102]:
y_pred_final = y_pred[:,1]

In [103]:
y_pred_final

array([0.03482463, 0.02183263, 0.05052224, ..., 0.01659894, 0.30824876,
       0.1613056 ], dtype=float32)

In [104]:
#resultinn
roc_auc_score(y_test, y_pred_final)

0.827925801541655

In [97]:
xgb.get_booster().get_score(importance_type= 'gain')

{'RGO_RIESGO_SIST': 126.68287398060869,
 'RGO_SEGU_NO_VINC_mean': 8.852923663977936,
 'RGO_SDO_MEDIO_PASIVO': 53.134813522832175,
 'RGO_SDO_VALORES_std': 12.983561420194249,
 'NU_CTA_TDD_min': 9.176406621818181,
 'RGO_MARGEN_DESC_LETRA_max': 4.94098235722,
 'RGO_SDO_PAGARE_DESC_sum': 7.33737064499107,
 'RGO_SDO_DESC_LETRA_std': 6.2175102907345305,
 'RGO_SDCOMEX_mean': 5.105143843443036,
 'RGO_SDO_TDC_PJURIDICA_sum': 4.46569886092308,
 'RGO_SDO_PZO_std': 5.307892954365519,
 'RGO_MARGEN_AHORRO_mean': 4.74857732901739,
 'TP_PERSONA_J': 51.70007901617648,
 'RGO_SDAVALES_mean': 10.824170159583339,
 'CD_SBS_NORMAL': 16.112434516794526,
 'RGO_SDCARTFIANZA_std': 5.5100433241631555,
 'RGO_SDO_MEDIO_ACTIVO': 11.951577528249997,
 'NU_CTA_NOMINA_max': 20.478987436666653,
 'RGO_SDMICROEMPRESA_max': 12.614123147315789,
 'RGO_MARGEN_COBRANZA_LIB_std': 5.147139290466321,
 'RGO_MARGEN_PREST_VEHIC_std': 5.3034309833142865,
 'CD_SBS_CPP': 6.616879805163635,
 'NU_CTA_TDD_max': 18.275988669714284,
 'RGO_SEGU_NO_VINC_min': 35.66938464069232,
 'RGO_MARGEN_CMPL_std': 5.846406554477374,
 'diff_months_T0_ALTA': 8.339414468337123,
 'RGO_SEGU_NO_VINC_sum': 5.908659187190477,
 'RGO_SDLEASING_mean': 5.091715038810826,
 'RGO_RIEGO_BBVA': 19.5082306934804,
 'RGO_SDO_CTS_mean': 5.7143837422846735,
 'RGO_MARGEN_AHORRO_min': 8.383506696529412,
 'RGO_SDO_TDC_PNATURAL_std': 5.399617038496856,
 'RGO_SDMICROEMPRESA_mean': 5.457215594209791,
 'RGO_ACTIVO_mean': 5.844798102487394,
 'RGO_SDFACTORING_std': 5.926876789880504,
 'diff_months_ALTA_NACIMIENTO': 7.9710165559841295,
 'RGO_ACTIVO_max': 6.722742768323528,
 'RGO_SDCREDITO_std': 5.225444039427589,
 'RGO_SDGTIA_PREFE_std': 4.621904336821657,
 'CD_SBS_DDP': 11.339676251411758,
 'RGO_PASIVO_max': 32.48380152434375,
 'diff_months_T0_NACIMIENTO': 5.256710640002219,
 'RGO_MARGEN_PREST_HIP_min': 5.763174853999999,
 'RGO_MARGEN_TDC_PJURIDICA_max': 5.1409914571818165,
 'RGO_PASIVO_mean': 6.155694835540565,
 'RGO_SDO_PZO_mean': 4.990443327333335,
 'RGO_SDO_TDC_PNATURAL_max': 8.340559878931035,
 'RGO_MARGEN_CMPL_mean': 7.113772072977777,
 'RGO_SDPREST_EMP_mean': 7.1260849098842955,
 'RGO_SDO_CTE_sum': 5.324556957068967,
 'RGO_MARGEN_CARTERA_min': 4.489141303192307,
 'RGO_MARGEN_PAGARE_DESC_max': 5.073773565917646,
 'RGO_SDLEASING_std': 5.300759697894178,
 'RGO_SDAVALES_sum': 5.140522413874999,
 'RGO_SDO_FMUTUO_mean': 5.270322354031247,
 'RGO_SDO_COMEX_sum': 4.537995212836538,
 'RGO_MARGEN_CONFIRMING_std': 5.49757396868182,
 'RGO_MARGEN_DESC_LETRA_std': 5.713894516816669,
 'RGO_MARGEN_CTE_std': 5.241997104617145,
 'RGO_SDO_PREST_HIP_mean': 5.358003145738462,
 'RGO_SDCOMEX_std': 5.089188263515721,
 'RGO_SDO_PREST_COM_std': 5.184993326738217,
 'RGO_SDO_LSNG_sum': 4.169115360873395,
 'RGO_MARGEN_CONFIRMING_max': 8.381721882521742,
 'RGO_ACTIVO_std': 5.173953141047621,
 'RGO_SEGU_NO_VINC_std': 7.341781974679879,
 'RGO_MARGEN_FACTORING_std': 5.8765297724149645,
 'RGO_PASIVO_sum': 5.9664115824,
 'RGO_MARGEN_VALORES_max': 6.9386027722916666,
 'RGO_MARGEN_OPER_MES': 8.853500343674161,
 'RGO_MARGEN_CONFIRMING_mean': 5.820800094304878,
 'PLAZO_mean': 7.933171305000001,
 'RGO_SDO_FMUTUO_max': 4.937751293043477,
 'RGO_MARGEN_TDC_PJURIDICA_std': 5.298837275955125,
 'RGO_SDACEPBANCA_sum': 5.570347338907692,
 'RGO_MARGEN_CARTERA_sum': 5.445102695045044,
 'RGO_ACTIVO_sum': 5.964022398043479,
 'RGO_MARGEN_AVAL_std': 5.530635357028046,
 'RGO_MARGEN_OPER_ACUM': 6.9005661257349376,
 'RGO_MARGEN_LSNG_sum': 5.22224959938281,
 'RGO_MARGEN_PREST_CONS_mean': 5.801189462302236,
 'RGO_SDO_PREST_HIP_sum': 5.139071656741308,
 'RGO_MARGEN_AHORRO_sum': 5.164311568330096,
 'RGO_PASIVO_std': 6.407408132683909,
 'RGO_SDO_VALORES_mean': 5.724197358873132,
 'RGO_MARGEN_CTS_min': 6.213897746176469,
 'RGO_MARGEN_CARTERA_max': 5.312904814736842,
 'RGO_SDO_PREST_CONS_mean': 4.906762427677418,
 'RGO_SDDESCLETRAS_min': 5.937221685344828,
 'RGO_SDTARJETA_EMP_std': 5.076292542370629,
 'RGO_SDO_DESC_LETRA_min': 5.66587544864706,
 'RGO_SDGTIA_HIPOTEC_max': 5.423763156666667,
 'TO_EMPLEADOS': 4.884803767024388,
 'RGO_SDINDIRECTO_sum': 4.923578964235295,
 'RGO_SDPEQUENIAS_EMP_min': 3.978207016470588,
 'RGO_MARGEN_PREST_VEHIC_mean': 5.442502996230264,
 'RGO_SDO_FMUTUO_std': 5.146050917207866,
 'RGO_MARGEN_PZO_std': 5.974736690575583,
 'RGO_SD_NOPREFE_mean': 4.553722660047169,
 'RGO_SDO_TDC_PJURIDICA_mean': 5.342110642877952,
 'RGO_MARGEN_CONFIRMING_min': 4.89337733444,
 'RGO_SDO_CTS_max': 5.54976837039286,
 'RGO_SDO_PREST_COM_mean': 5.35164335696124,
 'RGO_MARGEN_PREST_COM_sum': 5.515713116163636,
 'RGO_MARGEN_CONFIRMING_sum': 5.6192989306714285,
 'RGO_SDO_PREST_CONS_std': 5.8698051671734675,
 'RGO_MARGEN_AHORRO_std': 5.173682355418081,
 'RGO_SDGRANDES_EMP_mean': 4.91107749621795,
 'RGO_MARGEN_VALORES_mean': 5.066336677787613,
 'PLAZO_max': 5.844486628333333,
 'RGO_PASIVO_min': 15.351905709090904,
 'RGO_SDO_FMUTUO_sum': 5.305310636053031,
 'ProductCount': 9.465921123733338,
 'RGO_SDO_PZO_sum': 5.733781882153151,
 'RGO_ACTIVO_min': 5.919917214529412,
 'RGO_SDINDIRECTO_std': 5.609864557945945,
 'RGO_SDO_COMEX_max': 5.0023906492,
 'RGO_SDPREST_EMP_std': 5.1110027934431175,
 'RGO_SEGU_NO_VINC_max': 7.248748690125,
 'RGO_MARGEN_LSNG_std': 4.919272080175182,
 'RGO_MARGEN_PREST_CONS_min': 6.818871639464286,
 'RGO_SDDESCLETRAS_sum': 5.534925714620252,
 'RGO_MARGEN_DESC_LETRA_mean': 6.06548057813189,
 'RGO_MARGEN_CTS_std': 5.102953252271358,
 'RGO_SDGRANDES_EMP_std': 5.262747916626506,
 'RGO_SDCREDITO_mean': 5.003620516917599,
 'DeudasCount': 5.527224409444445,
 'RGO_SDPEQUENIAS_EMP_sum': 4.952634619703704,
 'RGO_SDO_CTS_min': 6.085667231304347,
 'RGO_SDO_PREST_HIP_std': 4.92127851098374,
 'RGO_SDTARJETA_EMP_mean': 5.203496395774647,
 'NU_CTA_CTS_max': 10.259310168235297,
 'RGO_MARGEN_TDC_PJURIDICA_mean': 5.101364420417905,
 'RGO_MARGEN_FACTORING_mean': 4.5747819390454545,
 'RGO_SDACEPBANCA_mean': 4.78039886782906,
 'RGO_SDPREST_EMP_sum': 5.676044069758621,
 'RGO_MARGEN_CMPL_max': 8.990569048124998,
 'RGO_SDFACTORING_max': 5.649655128176471,
 'RGO_MARGEN_DESC_LETRA_sum': 5.281864205476194,
 'RGO_MARGEN_CARTERA_std': 5.245570737437083,
 'RGO_SDAVALES_max': 8.788689893500003,
 'RGO_SDO_CTS_sum': 4.540274241942307,
 'RGO_MARGEN_CTS_sum': 5.377736750401787,
 'RGO_SDO_CTE_std': 5.009870411398877,
 'RGO_SDMEDIANAS_EMP_mean': 5.267307487185888,
 'RGO_SDO_TDC_PNATURAL_sum': 5.54791433591262,
 'RGO_MARGEN_CARTERA_mean': 5.518010453472976,
 'CD_BANCO_nunique': 5.314935824500001,
 'RGO_MTO_PAGO_PROVEE_mean': 5.604810078333333,
 'RGO_SDO_VALORES_max': 6.208094032145836,
 'RGO_MARGEN_PAGARE_DESC_mean': 5.110783223130769,
 'RGO_SDO_TDC_PNATURAL_mean': 5.768634791473216,
 'RGO_SDO_PAGARE_DESC_std': 5.202138095541094,
 'RGO_SDCARTFIANZA_min': 5.949220719473685,
 'RGO_SDGTIA_PREFE_mean': 5.15977411988889,
 'RGO_SEGU_VINC_sum': 5.5061409714565235,
 'RGO_MARGEN_CTE_max': 4.940378472290322,
 'RGO_MARGEN_PREST_HIP_mean': 5.2710673776466646,
 'RGO_SEGU_VINC_std': 5.341446984159005,
 'RGO_SDCARTFIANZA_sum': 5.0835564775441195,
 'RGO_MARGEN_CTS_max': 5.718857004864865,
 'ST_CREDITO_nunique': 9.418162090162792,
 'RGO_SDACEPBANCA_std': 5.237626629615385,
 'RGO_SDAVALES_std': 5.091620211832118,
 'RGO_SDGTIA_PREFE_min': 6.278008249375,
 'RGO_SDO_DESC_LETRA_max': 4.692495765789474,
 'RGO_SDMICROEMPRESA_sum': 4.898992244867469,
 'RGO_SDO_PREST_VEHIC_mean': 5.636913906290577,
 'RGO_SDO_PZO_min': 6.229866183333333,
 'RGO_SDGRANDES_EMP_sum': 5.513292436538461,
 'RGO_MARGEN_PREST_HIP_std': 5.13373720968323,
 'RGO_MARGEN_LSNG_mean': 5.111613760962961,
 'RGO_MARGEN_COBRANZA_LIB_mean': 5.907965610613638,
 'RGO_SDPREST_EMP_max': 9.239292388333334,
 'NU_CTA_CTE_max': 5.389572157999999,
 'RGO_SDGTIA_HIPOTEC_sum': 4.602538102986109,
 'RGO_MARGEN_PREST_COM_std': 5.394970487879314,
 'RGO_MARGEN_PREST_CONS_std': 5.2367441849772165,
 'RGO_SDO_PREST_VEHIC_min': 6.05292963457143,
 'RGO_SDGRANDES_EMP_min': 4.011427770681819,
 'RGO_MARGEN_PREST_COM_mean': 4.886283465880953,
 'RGO_MARGEN_FACTORING_sum': 4.5588062459493655,
 'RGO_SDTOTAL_max': 5.14485993142857,
 'RGO_MARGEN_PZO_sum': 5.135218762610168,
 'RGO_SDCREDITO_max': 4.405895397949999,
 'NU_CTA_AHORRO_min': 4.360297628571429,
 'RGO_SD_NOPREFE_sum': 4.889769051096774,
 'RGO_SDO_PAGARE_DESC_mean': 5.332384608342106,
 'RGO_SDCARTFIANZA_mean': 5.343719046152939,
 'RGO_MARGEN_CTS_mean': 5.299296563800001,
 'RGO_MARGEN_PREST_CONS_sum': 5.244910005990475,
 'RGO_SDINDIRECTO_min': 10.419566331666665,
 'RGO_MARGEN_FACTORING_min': 5.851009803333333,
 'RGO_SDO_COMEX_std': 5.119403370648436,
 'RGO_SDDESCLETRAS_mean': 5.019737659628779,
 'RGO_MARGEN_VALORES_std': 4.68345771979021,
 'RGO_MARGEN_PREST_VEHIC_min': 6.578164338999999,
 'RGO_MTO_SUNAT_PYME_min': 5.419915611333333,
 'RGO_SDFACTORING_mean': 4.497650704167605,
 'RGO_MARGEN_AVAL_mean': 4.611864322177775,
 'RGO_SDCOMEX_min': 6.636277066249999,
 'RGO_SDDESCLETRAS_std': 5.573736009673201,
 'RGO_IMPORTE_max': 5.32748163,
 'RGO_MARGEN_FACTORING_max': 4.785171944374999,
 'RGO_MARGEN_PREST_COM_max': 5.404638705200001,
 'RGO_SDGTIA_HIPOTEC_std': 5.314650880543535,
 'RGO_MARGEN_PREST_VEHIC_max': 5.501269044860465,
 'RGO_MARGEN_VALORES_sum': 5.145788608725276,
 'RGO_SDO_CTE_mean': 5.235949863540318,
 'RGO_SDO_TDC_PJURIDICA_std': 5.295206003850002,
 'RGO_SDO_PREST_VEHIC_max': 4.730180854588235,
 'RGO_MARGEN_DESC_LETRA_min': 5.894929854181818,
 'RGO_SDGTIA_PREFE_sum': 5.229013652168832,
 'RGO_SDO_LSNG_max': 5.365316035103448,
 'RGO_SDO_TDC_PJURIDICA_max': 4.3873172467499995,
 'RGO_SEGU_VINC_mean': 6.14498902318269,
 'RGO_SDO_PREST_COM_min': 6.093840245555553,
 'RGO_SDO_PREST_VEHIC_std': 5.0826668468079275,
 'RGO_SDLEASING_sum': 5.433592294209301,
 'RGO_SDO_COMEX_mean': 5.107790897090552,
 'RGO_FACTURA_ANUAL': 4.269993423142857,
 'NU_CTA_NOMINA_min': 13.554274638,
 'RGO_SDPREST_EMP_min': 4.964372561,
 'RGO_SDMEDIANAS_EMP_min': 4.115577261347826,
 'RGO_SDO_PREST_HIP_max': 6.507176150937501,
 'RGO_SDO_LSNG_mean': 5.127282185383998,
 'RGO_SDMEDIANAS_EMP_sum': 4.903648351070421,
 'TP_PERSONA_F': 9.088943634761902,
 'RGO_SDPEQUENIAS_EMP_mean': 5.811668186101012,
 'RGO_SDO_PREST_COM_sum': 5.020642336120968,
 'RGO_MARGEN_TDC_PJURIDICA_sum': 4.485569611058823,
 'RGO_SDTOTAL_mean': 5.511605550518523,
 'RGO_SDACEPBANCA_max': 6.970633347550001,
 'RGO_MARGEN_COBRANZA_LIB_max': 6.246895087179488,
 'NU_CTA_FMUTUO_min': 7.124754190000001,
 'RGO_MARGEN_PREST_VEHIC_sum': 4.872351244343138,
 'RGO_SDTOTAL_min': 5.0464772055,
 'RGO_SDO_DESC_LETRA_sum': 5.265916761212765,
 'RGO_SDCOMEX_max': 5.08954483736,
 'RGO_MARGEN_PREST_COM_min': 4.423312183214285,
 'RGO_SD_NOPREFE_min': 6.593301623684212,
 'RGO_MTO_SUNAT_PYME_sum': 5.944057658000001,
 'RGO_MTO_TRANSFE_LOCALES_sum': 3.777315736666667,
 'RGO_MARGEN_CTE_sum': 4.640605580114943,
 'RGO_MARGEN_COBRANZA_LIB_sum': 5.211061815462811,
 'RGO_SDO_TDC_PNATURAL_min': 5.937290845083333,
 'RGO_SDTOTAL_std': 4.641713894358696,
 'RGO_SDO_DESC_LETRA_mean': 5.1152625422272715,
 'RGO_SDINDIRECTO_mean': 5.43097123201613,
 'RGO_MARGEN_PREST_HIP_sum': 5.189973156912704,
 'RGO_SDFACTORING_sum': 4.686460303960784,
 'RGO_SDMEDIANAS_EMP_std': 4.904093410068752,
 'RGO_SDTARJETA_EMP_sum': 5.565093452499999,
 'RGO_MARGEN_CMPL_sum': 5.102177809592592,
 'RGO_SDAVALES_min': 8.727105637941179,
 'RGO_SDO_TDC_PJURIDICA_min': 5.843365834615385,
 'RGO_SDO_LSNG_std': 5.239325390788619,
 'RGO_TASA_DESEMBOLSO_mean': 5.96649811,
 'RGO_TASA_DESEMBOLSO_std': 6.94695282,
 'RGO_SDGTIA_HIPOTEC_mean': 5.386545546808701,
 'RGO_MARGEN_PAGARE_DESC_std': 4.724231587872483,
 'RGO_MARGEN_AVAL_min': 6.389650078947368,
 'RGO_SDPEQUENIAS_EMP_max': 5.158647682500001,
 'RGO_MARGEN_PZO_min': 3.4570336824666668,
 'RGO_SDCOMEX_sum': 5.374005863089741,
 'RGO_SDO_LSNG_min': 4.1345332075,
 'RGO_MARGEN_PREST_CONS_max': 4.860301160166668,
 'RGO_MARGEN_CMPL_min': 5.117804764516128,
 'RGO_SDO_CTS_std': 5.0595228064436615,
 'RGO_SDMICROEMPRESA_std': 4.88125903228227,
 'RGO_MARGEN_AVAL_sum': 4.688260113098766,
 'RGO_TEA_SUGERIDA_max': 9.461730955,
 'RGO_SDMEDIANAS_EMP_max': 6.274065587025,
 'RGO_SD_NOPREFE_std': 5.258184218811021,
 'RGO_SDCREDITO_min': 3.9016034068260868,
 'RGO_MTO_TRANSF_INTE_sum': 4.817572490777779,
 'RGO_SDO_VALORES_min': 4.865679712975611,
 'RGO_SDTOTAL_sum': 5.167028964125863,
 'RGO_MTO_CHEQUE_REC_max': 6.3291237066666675,
 'RGO_MARGEN_CTE_min': 4.8243984864857135,
 'RGO_MTO_SUNAT_PYME_std': 4.9239235825,
 'RGO_MTO_TRANSFE_LOCALES_mean': 6.071402409999999,
 'RGO_MTO_RECAUDO_mean': 2.34541106,
 'RGO_MARGEN_PAGARE_DESC_min': 5.340606144108696,
 'RGO_SDACEPBANCA_min': 4.6170421395,
 'RGO_SDO_PREST_CONS_sum': 5.614777502954839,
 'RGO_MARGEN_CTE_mean': 4.983841759577467,
 'RGO_MARGEN_PAGARE_DESC_sum': 5.156404245834785,
 'RGO_ImporteS_sum': 6.2621229220000005,
 'RGO_SDO_PZO_max': 3.816317014894736,
 'RGO_SD_NOPREFE_max': 4.4763808369545455,
 'RGO_MARGEN_AHORRO_max': 4.2208720960909085,
 'RGO_SDCREDITO_sum': 4.620228231094595,
 'RGO_SDO_PREST_VEHIC_sum': 4.529670512800786,
 'RGO_SDO_PREST_CONS_max': 5.013159131714286,
 'RGO_MARGEN_PZO_mean': 4.990482607542634,
 'RGO_SDGTIA_HIPOTEC_min': 4.565920264,
 'RGO_MARGEN_AVAL_max': 5.5927303551851875,
 'RGO_SDLEASING_min': 4.9202533007083336,
 'RGO_SEGU_VINC_min': 4.905414844178572,
 'RGO_MARGEN_PZO_max': 4.0591496568125,
 'RGO_MTO_CHEQUE_REC_sum': 8.292959853333333,
 'RGO_SDO_PAGARE_DESC_max': 5.435034607566668,
 'RGO_MARGEN_LSNG_min': 4.819723597148148,
 'RGO_SDO_CTE_max': 4.1316724803529405,
 'RGO_TEA_SUGERIDA_std': 5.7303078775,
 'RGO_MTO_PAGO_PROVEE_max': 5.571623512,
 'RGO_MARGEN_TDC_PJURIDICA_min': 6.195908160000001,
 'RGO_MTO_TRANSFE_LOCALES_min': 4.47694826,
 'RGO_SDO_VALORES_sum': 5.101897183219265,
 'RGO_SDO_FMUTUO_min': 4.889366378666666,
 'RGO_SDGTIA_PREFE_max': 4.932762979285713,
 'RGO_SDO_PREST_COM_max': 4.858769269105001,
 'RGO_SDFACTORING_min': 3.8050252310999992,
 'RGO_SEGU_VINC_max': 4.4144624627999995,
 'RGO_MARGEN_LSNG_max': 4.349568032999999,
 'RGO_SDPEQUENIAS_EMP_std': 4.923573961004896,
 'NU_CTA_DOMI_max': 5.173809295000001,
 'RGO_MARGEN_PREST_HIP_max': 4.348759026395001,
 'RGO_SDCARTFIANZA_max': 4.7075656315200005,
 'RGO_SDLEASING_max': 5.429394654736843,
 'RGO_SDTARJETA_EMP_min': 4.246541782263158,
 'NU_CTA_CTE_min': 5.5923022499999995,
 'RGO_SDO_PREST_CONS_min': 3.7455836477142865,
 'RGO_SDGRANDES_EMP_max': 5.239470020000001,
 'RGO_MTO_TRANSFE_LOCALES_max': 3.2153584012000005,
 'RGO_SDTARJETA_EMP_max': 4.375996589625001,
 'RGO_SDINDIRECTO_max': 4.342159167928572,
 'NU_CTA_FMUTUO_max': 6.775551127999999,
 'RGO_MARGEN_VALORES_min': 4.497129358787878,
 'RGO_MTO_TRANSFE_LOCALES_std': 6.950200555,
 'NU_CTA_AVAL_max': 6.91330694,
 'PLAZO_min': 4.0972867,
 'RGO_MTO_SUNAT_PYME_mean': 6.2309960360000005,
 'RGO_MTO_PAGO_PROVEE_min': 5.648147705,
 'RGO_MTO_RECAUDO_sum': 3.419786216,
 'RGO_SDO_PREST_HIP_min': 4.195704922639999,
 'NU_CTA_TDC_PJURIDICA_min': 6.42743444,
 'RGO_SDO_COMEX_min': 4.885649563157895,
 'RGO_ImporteS_mean': 5.552643031777777,
 'RGO_MTO_CHEQUE_REC_mean': 2.16045952,
 'RGO_SDDESCLETRAS_max': 4.277630042666668,
 'RGO_SDO_PAGARE_DESC_min': 3.9793852199999997,
 'RGO_MARGEN_COBRANZA_LIB_min': 4.693983172966667,
 'RGO_MTO_PAGO_PROVEE_sum': 0.274606705,
 'RGO_TEA_SUGERIDA_mean': 4.98261642,
 'RGO_MTO_CHEQUE_REC_std': 3.55552259125,
 'NU_CTA_CTS_min': 7.7989777700000005,
 'RGO_IMPORTE_DESEMBOLSADO_MN_mean': 5.89614423,
 'RGO_TEA_SUGERIDA_min': 3.35583687,
 'RGO_MTO_TRANSF_INTE_std': 3.486747145555556,
 'NU_CTA_VALORES_max': 4.206172345000001,
 'RGO_TASA_DESEMBOLSO_min': 5.05183363,
 'RGO_SDMICROEMPRESA_min': 4.136080122266667,
 'NU_CTA_AHORRO_max': 5.666864926923075,
 'NU_CTA_PREST_VEHIC_max': 4.49077559,
 'RGO_MTO_CHEQUE_REC_min': 4.042676171666667,
 'RGO_MTO_PAGO_PROVEE_std': 3.673926593333333,
 'RGO_MTO_TRANSF_INTE_max': 3.8888607433333333,
 'RGO_IMPORTE_mean': 3.78104544,
 'RGO_SDO_CTE_min': 3.439409310166665,
 'PLAZO_std': 3.58206987,
 'RGO_MTO_RECAUDO_std': 3.5596877325000005,
 'RGO_ImporteS_min': 3.394446135,
 'RGO_IMPORTE_DESEMBOLSADO_MN_min': 3.0446012,
 'RGO_MTO_RECAUDO_min': 5.27894211,
 'NU_CTA_PREST_CONS_max': 5.18714237,
 'RGO_MTO_RECAUDO_max': 7.9254508,
 'RGO_MTO_SUNAT_PYME_max': 5.20398617,
 'RGO_IMPORTE_DESEMBOLSADO_MN_std': 4.40427732,
 'NU_CTA_TDC_PNATURAL_min': 2.6761338699999997,
 'RGO_MTO_TRANSF_INTE_min': 2.22152281,
 'RGO_MTO_TRANSF_INTE_mean': 0.270778179}

## Inter variables

In [105]:
df_stock_train_f.head(1).T

                                             0
ID                                201808_48117
FUGA_3M                                      0
RGO_RIEGO_BBVA                               1
RGO_RIESGO_SIST                              8
RGO_SDO_MEDIO_ACTIVO                         6
RGO_SDO_MEDIO_PASIVO                         9
RGO_MARGEN_OPER_MES                          1
RGO_MARGEN_OPER_ACUM                         1
RGO_FACTURA_ANUAL                            7
TO_EMPLEADOS                                 2
CD_SBS_NORMAL                              100
CD_SBS_CPP                                   0
CD_SBS_DDP                                   0
TP_PERSONA_F                                 0
TP_PERSONA_J                                 1
diff_months_T0_NACIMIENTO                   32
diff_months_T0_ALTA                         11
diff_months_ALTA_NACIMIENTO                 21
RGO_MTO_RECAUDO_sum                         14
RGO_MTO_RECAUDO_min                          7
RGO_MTO_RECAUDO_max                          7
RGO_MTO_RECAUDO_mean                         7
TransCount                                   2
RGO_MTO_RECAUDO_std                          0
RGO_MTO_TRANSF_INTE_sum                     24
RGO_MTO_TRANSF_INTE_min                      4
RGO_MTO_TRANSF_INTE_max                     20
RGO_MTO_TRANSF_INTE_mean                    12
RGO_MTO_TRANSF_INTE_std                11.3137
RGO_MTO_CHEQUE_REC_sum                      29
...                                        ...
RGO_IMPORTE_max                            NaN
RGO_IMPORTE_sum                            NaN
RGO_IMPORTE_mean                           NaN
RGO_IMPORTE_std_x                          NaN
PLAZO_min                                  NaN
PLAZO_max                                  NaN
PLAZO_mean                                 NaN
PLAZO_std                                  NaN
RGO_TEA_SUGERIDA_min                       NaN
RGO_TEA_SUGERIDA_max                       NaN
RGO_TEA_SUGERIDA_sum                       NaN
RGO_TEA_SUGERIDA_mean                      NaN
RGO_TEA_SUGERIDA_std                       NaN
RGO_IMPORTE_DESEMBOLSADO_MN_min            NaN
RGO_IMPORTE_DESEMBOLSADO_MN_max            NaN
RGO_IMPORTE_DESEMBOLSADO_MN_sum            NaN
RGO_IMPORTE_DESEMBOLSADO_MN_mean           NaN
RGO_IMPORTE_DESEMBOLSADO_MN_std            NaN
RGO_TASA_DESEMBOLSO_min                    NaN
RGO_TASA_DESEMBOLSO_max                    NaN
RGO_TASA_DESEMBOLSO_sum                    NaN
RGO_TASA_DESEMBOLSO_mean                   NaN
RGO_TASA_DESEMBOLSO_std                    NaN
SoliCount                                  NaN
RGO_ImporteS_min                           NaN
RGO_ImporteS_max                           NaN
RGO_ImporteS_sum                           NaN
RGO_ImporteS_mean                          NaN
RGO_IMPORTE_std_y                          NaN
Producto_Solicitado_nunique                NaN

[414 rows x 1 columns]

In [108]:
df_stock_train_f['RGO_BBVA_SIST'] = df_stock_train_f['RGO_RIESGO_SIST']*df_stock_train_f['RGO_RIEGO_BBVA']
df_stock_test_f['RGO_BBVA_SIST'] = df_stock_test_f['RGO_RIESGO_SIST']*df_stock_test_f['RGO_RIEGO_BBVA']

df_stock_train_f['RGO_ACTIVOXPASIVO'] = df_stock_train_f['RGO_SDO_MEDIO_ACTIVO']*df_stock_train_f['RGO_SDO_MEDIO_PASIVO']
df_stock_test_f['RGO_ACTIVOXPASIVO'] = df_stock_test_f['RGO_SDO_MEDIO_ACTIVO']*df_stock_test_f['RGO_SDO_MEDIO_PASIVO']

df_stock_train_f['RGO_ACTIVOENPASIVO'] = df_stock_train_f['RGO_SDO_MEDIO_ACTIVO']/df_stock_train_f['RGO_SDO_MEDIO_PASIVO']
df_stock_test_f['RGO_ACTIVOENPASIVO'] = df_stock_test_f['RGO_SDO_MEDIO_ACTIVO']/df_stock_test_f['RGO_SDO_MEDIO_PASIVO']

df_stock_train_f['log_TO_EMPLEADOS'] = np.sqrt(df_stock_train_f.TO_EMPLEADOS)
df_stock_test_f['log_TO_EMPLEADOS'] = np.sqrt(df_stock_test_f.TO_EMPLEADOS)

df_stock_train_f['ratio_ALTA_NAC'] = df_stock_train_f['diff_months_T0_ALTA']/df_stock_train_f['diff_months_T0_NACIMIENTO']
df_stock_test_f['ratio_ALTA_NAC'] = df_stock_test_f['diff_months_T0_ALTA']/df_stock_test_f['diff_months_T0_NACIMIENTO']

In [117]:
X = df_stock_train_f[final_cols]
y = df_stock_train_f['FUGA_3M']

In [118]:
# A ver un treini
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 23, stratify = y)

xgb = XGBClassifier(learning_rate =0.05,
                 n_estimators=600,
                 max_depth=5,
                 min_child_weight=1,
                 gamma=0,
                 subsample=0.8,
                 colsample_bytree=0.8,
                 objective= 'binary:logistic',
                 nthread=4,
                 scale_pos_weight=1,
                 seed=42)

xgb.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.8, gamma=0,
       learning_rate=0.05, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=None, n_estimators=600, n_jobs=1,
       nthread=4, objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=42, silent=None,
       subsample=0.8, verbosity=1)

In [119]:
y_pred = xgb.predict_proba(X_test)

In [120]:
y_pred_final = y_pred[:,1]
roc_auc_score(y_test, y_pred_final)

0.8273243047498897

In [ ]:
#eee

In [110]:
#GridSearch
param_test1 = {
 'max_depth':range(3,5,7),
 'min_child_weight':range(1,5,3)
}
gsearch1 = GridSearchCV(estimator = XGBClassifier(learning_rate =0.05,
                 n_estimators=600,
                 max_depth=5,
                 min_child_weight=1,
                 gamma=0,
                 subsample=0.8,
                 colsample_bytree=0.8,
                 objective= 'binary:logistic',
                 nthread=4,
                 scale_pos_weight=1,
                 seed=42), 
 param_grid = param_test1, scoring='roc_auc',n_jobs=4,iid=False, cv=5)

gsearch1.fit(X,y)

/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

AttributeError: 'GridSearchCV' object has no attribute 'grid_scores_'

In [112]:
gsearch1.cv_results_

/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/Users/dascencios/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'mean_fit_time': array([ 591.48967581,  588.91487827,  675.8618001 ,  907.522855  ,
         880.83118978,  864.90942221, 1214.88345513, 1193.33763876,
        1175.0975738 , 1587.35307627, 1524.29676065, 1375.09138474]),
 'std_fit_time': array([ 49.95386465,  44.31458384,  62.2819774 , 100.55423395,
         79.16297812,  78.31898232, 103.77321684, 102.41681579,
        122.3655675 , 130.2498254 , 127.52729874, 217.75379491]),
 'mean_score_time': array([0.6231936 , 0.54367948, 0.56476889, 0.68855906, 0.65296874,
        0.65247836, 0.82447762, 0.83185349, 0.81770134, 1.0657155 ,
        0.98291149, 0.71810284]),
 'std_score_time': array([0.05886874, 0.0391975 , 0.03782332, 0.01586687, 0.01530202,
        0.01600661, 0.04247929, 0.0361013 , 0.01379969, 0.03972866,
        0.06787966, 0.20385024]),
 'param_max_depth': masked_array(data=[3, 3, 3, 5, 5, 5, 7, 7, 7, 9, 9, 9],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_child_weight': masked_array(data=[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 3, 'min_child_weight': 1},
  {'max_depth': 3, 'min_child_weight': 3},
  {'max_depth': 3, 'min_child_weight': 5},
  {'max_depth': 5, 'min_child_weight': 1},
  {'max_depth': 5, 'min_child_weight': 3},
  {'max_depth': 5, 'min_child_weight': 5},
  {'max_depth': 7, 'min_child_weight': 1},
  {'max_depth': 7, 'min_child_weight': 3},
  {'max_depth': 7, 'min_child_weight': 5},
  {'max_depth': 9, 'min_child_weight': 1},
  {'max_depth': 9, 'min_child_weight': 3},
  {'max_depth': 9, 'min_child_weight': 5}],
 'split0_test_score': array([0.73484744, 0.73644344, 0.74072118, 0.68281328, 0.67303444,
        0.66820537, 0.67903509, 0.68430125, 0.67729461, 0.71569525,
        0.7064258 , 0.70490498]),
 'split1_test_score': array([0.02147802, 0.0206563 , 0.01955894, 0.02139036, 0.02194606,
        0.0211146 , 0.02188033, 0.02127091, 0.02055392, 0.02073577,
        0.01882934, 0.01833214]),
 'split2_test_score': array([0.1918742 , 0.19335983, 0.19341088, 0.18053473, 0.17701739,
        0.18129182, 0.16693911, 0.1719211 , 0.17095613, 0.1672488 ,
        0.16876319, 0.17249097]),
 'split3_test_score': array([0.80185266, 0.80629667, 0.80087498, 0.78920542, 0.78830598,
        0.78951672, 0.77129995, 0.77389522, 0.77365086, 0.77035451,
        0.7720092 , 0.76409158]),
 'split4_test_score': array([0.67096603, 0.6697463 , 0.6661467 , 0.6839697 , 0.67828657,
        0.68456707, 0.67763224, 0.68295503, 0.67601149, 0.67631987,
        0.67603462, 0.68093195]),
 'mean_test_score': array([0.48420367, 0.48530051, 0.48414254, 0.4715827 , 0.46771809,
        0.46893911, 0.46335734, 0.4668687 , 0.4636934 , 0.47007084,
        0.46841243, 0.46815033]),
 'std_test_score': array([0.31565009, 0.31662443, 0.31611402, 0.30919019, 0.3074053 ,
        0.30733051, 0.30660235, 0.30782689, 0.3062175 , 0.31197547,
        0.31107651, 0.30940616]),
 'rank_test_score': array([ 2,  1,  3,  4,  9,  6, 12, 10, 11,  5,  7,  8], dtype=int32),
 'split0_train_score': array([0.89605874, 0.893562  , 0.89300166, 0.96528183, 0.96084838,
        0.95661861, 0.99787633, 0.99592453, 0.9942226 , 0.99981661,
        0.99968256, 0.99943755]),
 'split1_train_score': array([0.91505836, 0.9137173 , 0.91284031, 0.97063235, 0.96668304,
        0.96363156, 0.9983313 , 0.99642736, 0.99451675, 0.99983035,
        0.99967515, 0.99949987]),
 'split2_train_score': array([0.90913016, 0.90830563, 0.90710707, 0.96782997, 0.96246269,
        0.95902286, 0.99812621, 0.99636542, 0.99494159, 0.99978251,
        0.9996463 , 0.99946009]),
 'split3_train_score': array([0.88063113, 0.87917265, 0.87811042, 0.95779878, 0.95233334,
        0.9485667 , 0.99802115, 0.99655917, 0.99462377, 0.99977402,
        0.99960124, 0.99945361]),
 'split4_train_score': array([0.88557678, 0.88431045, 0.88307287, 0.95650265, 0.94975453,
        0.94639117, 0.99796628, 0.99555294, 0.99242249, 0.99999968,
        0.99998242, 0.99989249]),
 'mean_train_score': array([0.89729103, 0.8958136 , 0.89482647, 0.96360911, 0.9584164 ,
        0.95484618, 0.99806425, 0.99616588, 0.99414544, 0.99984064,
        0.99971753, 0.99954872]),
 'std_train_score': array([1.32071000e-02, 1.33484583e-02, 1.33881664e-02, 5.55340053e-03,
        6.36641047e-03, 6.46046708e-03, 1.56156041e-04, 3.73311108e-04,
        8.91632379e-04, 8.22131896e-05, 1.35488373e-04, 1.73102582e-04])}

In [113]:
gsearch1.best_score_

0.4853005090971769

In [114]:
gsearch1.best_params_

{'max_depth': 3, 'min_child_weight': 3}

TypeError: score() missing 2 required positional arguments: 'X' and 'y'